body {
  background-color: #4575D4;
}

h1 {
  color: #29467f;
}

h3 {
  color: #ff6f00;
}

a.column1 {
  color: #FF6f00
  bgcolor= #0F4FA8;
}
a.column2 {
  color: #FF6f00
  bgcolor= #05316D;
}
a.column3 {
  color: #FF6f00
  bgcolor= #FFC740;
}
