<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

	<script src="assets/js/ie/html5shiv.js"></script>
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/ie9.css" />
	<link rel="stylesheet" href="style.css"/>

<title>Woozer</title>
</head>


<div ng-app="myApp" ng-controller="customersCtrl" ng-init="auth=null">
	<header id="header" >
		<a href="index.html" >
			<img src="woozer.png" class="img" >
		</a>
		<nav class="main">
			<ul>
				<li class="search">
					<a class="fa-search" href="#search">Search</a>
					<form id="search" >
						<input type="text" ng-keypress="ttt($event)"placeholder="Искать"/>
					</form>
				</li>
			</ul>
		</nav>
		<nav class="links">
			<ul>
				<li><a>Главная</a></li>
				<li><a>Популярное</a></li>
				<li><a>Горячее</a></li>
				<li><a role="button" ng-click="register();" ng-show="auth==null">Регистрация</a></li>
				<li><a role="button" ng-click="myfunction();" ng-show="auth==null">Вход</a></li>
				<li><a ng-show="auth!=null" role="button" ng-click="littlefun();">{{pers.username}}</a></li>
			</ul>
		</nav>
	</header>

<div class="testing d-flex flex-column" ng-show="show_input_login">
	<span class="header_login"><h1>Войти</h1></span>
		<input class="form-control" ng-model="login" placeholder="Логин"></input>
		<input class="form-control" ng-model="password" placeholder="Пароль"></input>
	<button class="button big fit" role="button" ng-click="logining(login,password);">Подтвердить</button>
</div>

<div class="testing d-flex flex-column" ng-show="show_input_register">
	<span class="header_login"><h1>Зарегистрироваться</h1></span>
		<input class="form-control" ng-model="login" placeholder="Логин"></input>
		<input class="form-control" ng-model="password" placeholder="Пароль"></input>
	<button class="button big fit" role="button" ng-click="registering(login,password);">Подтвердить</button>
</div>

<div id="wrapper">
<div id="main">

	<article class="post" ng-repeat="x in bl.blogs" ng-show="show_content">
		<header>
			<div class="title">
				<h2><a href="#">{{x.header}}</a></h2>
			</div>
			<div class="meta">
				<time class="published">{{x.time}}</time>
				<a href="#" class="author"><span class="name">{{x.span}}</span><img src="images/avatar.jpg" alt="" /></a>
			</div>
		</header>
		<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
		<p>{{x.article}}</p>
		<footer>
			<ul class="actions">
				<li><a href="#" class="button big">Продолжить чтение</a></li>
			</ul>
		</footer>
	</article>

	<article class="post">
		<header>
			<div class="title">
				<h2><a href="#">Рандомный пост</a></h2>
				<p>Ляляляляляллялялля</p>
			</div>
			<div class="meta">
				<time class="published" datetime="2015-10-25">October 25, 2015</time>
				<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
			</div>
		</header>
		<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>


	</article>



	<ul class="actions pagination">
		<li><a href="" class="disabled button big previous">предыдущая</a></li>
		<li><a href="#" class="button big next">следующая</a></li>
	</ul>

</div>

<section id="sidebar">

	<section id="intro">
		<header>
			<h2>WOOZER</h2>
			<p>какой-то текст</a></p>
		</header>
	</section>
</section>
<section>

				<div class="htag">
					<a href="">#ТутДолжныБытьХештеги</a>
					<a href="">#но_они_никуда_не_ведут</a>
					<a href="">#пчяэенн</a>
					<a href="">#этоХештег</a>
					<a href="">#иЭтоТоже</a>
				<span>&copy; А это копирайт!</span>
			</aside>
		</article>

<section id="footer">
	<ul class="icons">
		<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
	</ul>
</section>
</div>
</div>



<script src="script.js"></script>

<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/ie/respond.min.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>
